@font-face {
  font-family: 'Segoe UI';
  src: url('../../../assets/fonts/SegoeUI-Bold.eot') format('eot'), url('../../../assets/fonts/SegoeUI-Bold.woff') format('woff'), url('../../../assets/fonts/SegoeUI-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../../../assets/fonts/SegoeUI.eot') format('eot'), url('../../../assets/fonts/SegoeUI.woff') format('woff'), url('../../../assets/fonts/SegoeUI.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../../../assets/fonts/SegoeUI-SemiBold.eot') format('eot'), url('../../../assets/fonts/SegoeUI-SemiBold.woff') format('woff'), url('../../../assets/fonts/SegoeUI-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
