
body {
  line-height: var(--default-line-height);
  font-family: var(--default-font-family);
  font-weight: 400;
  font-size: var(--baseFontSize);
  color: var(--mainTextColor);
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// Общий стиль иконок
.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  margin-right: 5px;
}

// Общий стиль ссылок при наведении
a {
  color: var(--mainTextColor);
  cursor: pointer;
  transition: 0.2s all ease;

  &:focus, &:hover, &:active {
    color: var(--mainActiveColor);
    text-decoration: none;
  }
}
