<form [formGroup]="ticketForm">

  <mat-form-field class="col-md-5">
    <mat-label>Заголовок</mat-label>
    <input matInput formControlName="title" type="text">
  </mat-form-field>

  <mat-form-field class="col-md-5">
    <mat-label>Описание</mat-label>
    <input matInput formControlName="description" type="text">
  </mat-form-field>


  <button id="submitButton" class="btn btn-fill btn-lg text-uppercase" type="button"
          [disabled]="!ticketForm.valid || processing"
          (click)="onSubmit()">{{ processing ? 'Добавляем...' : 'Добавить' }}
  </button>
</form>
